@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------- CONSTRAINTS --------------- */
html {
  min-width: 360px;
  color-scheme: dark;
  transition: all 300ms;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}
/* --------------- DARK MODE --------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));

  align-items: left;
  align-content: center;
  justify-content: center;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose > :first-child { 
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important; 
  margin-bottom: 1.25em !important;
}

/* --------------- BROWSER SCROLLBARS --------------- */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;   /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
  transition: all;
  transition-duration: 400ms;
}

/* --------------- CUSTOMLINK --------------- */

.prose .anchor {
  @apply absolute invisible no-underline scroll-mt-4;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
  scroll-snap-type: proximity;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose p {
  @apply mt-2 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-10 mb-4;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-10 mb-4;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-10 mb-4;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-10 mb-4;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

/* Images */
.prose img {
  /* Don't apply styles to next/image */
  @apply mx-0 rounded-lg;
  @apply mt-2 flex-col space-x-0 space-y-2 md:flex-row ;
  @apply md:space-x-4 md:space-y-0;
  transition: all 300ms;
}


/** --------------- INTRODUCTION --------------- **/
.prose .intro {
  @apply flex flex-col;
  @apply items-center justify-center gap-0 p-10 mt-0;
  transition: all 500ms;
}

.prose .text-content {
  @apply flex flex-col justify-center items-end text-right;
  transition: all 200ms;
  word-break: break-all;
}

.titles {
  @apply text-2xl font-semibold tracking-tighter items-end text-right;
  /* offest upwards closer to the title */
  margin-bottom: -40px;
  text-shadow: 10px 0px 25px rgba(var(--foreground-rgb), 0.8);
}

.prose {
  @apply justify-between;
}

/* when screen is large */
@media (min-width: 600px) {
  .intro {
    @apply flex flex-row;
  }

  .prose .text-content {
    @apply items-start text-left mr-5;
  }  
  
  .prose img {
    /* make image smaller when screen is smaller */
    @apply w-1/3 rounded-full;
  }

  .titles {
    @apply text-2xl font-semibold tracking-tighter items-start text-left;
    margin-bottom: -60px;
  }
}

/** --------------- CARDS --------------- */

.card-large {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg p-4;
  transition: all 300ms;
}
