@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------- CONSTRAINTS --------------- */
html {
  min-width: 360px;
  color-scheme: dark;
  transition: all 500ms;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}


/* --------------- DARK MODE --------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));

  /* align-items: left; */
  /* align-content: center;
  justify-content: center; */
}

.title {
  @apply text-2xl font-semibold;
  text-wrap: balance;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose > :first-child { 
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important; 
  margin-bottom: 1.25em !important;
}


/* --------------- BROWSER SCROLLBARS --------------- */
html::-webkit-scrollbar {
  display: none;
}
table::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;   /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
  transition: all;
  transition-duration: 400ms;
}


/* --------------- CUSTOM LINK --------------- */
.prose .anchor {
  @apply absolute invisible no-underline scroll-mt-4;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
  scroll-snap-type: proximity;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
} 

.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose p {
  @apply mt-2 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-2xl font-medium tracking-tight mt-10 mb-4;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-10 mb-4;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-10 mb-4;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-10 mb-4;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose .card {
  @apply no-underline;
}


/** --------------- INTRODUCTION --------------- **/
/* Images */
.intro img {
  /* Don't apply styles to next/image */
  @apply mx-0 rounded-lg;
  @apply mt-2 flex-col space-x-0 space-y-2 md:flex-row ;
  @apply md:space-x-4 md:space-y-0;
  transition: all 300ms;
}

.intro {
  @apply items-center justify-center gap-0 mt-0;
  transition: all 500ms;
}

.text-content {
  /* @apply flex flex-col justify-center items-end text-right; */
  @apply flex flex-col justify-center ;
  transition: all 200ms;
  /* word-break: break-all; */
}

.titles {
  @apply text-3xl font-semibold tracking-tighter ;
  /* offest upwards closer to the title */
  margin-bottom: -25px;
  text-shadow: 10px 0px 25px rgba(var(white), 0.8);
}

.prose {
  @apply justify-between;
}


/** --------------- TABLE --------------- */

.table th, .table td {
  border: 0.05px solid rgb(var(--foreground-rgb));
  padding: 8px;
  text-align: center;
  /* border: initial; */
  line-height: 1.5;
}

.table {
  @apply my-2 rounded-xl;
  display: block;
  max-width: fit-content;
  overflow-x:scroll;
  scrollbar-width: none;
  white-space: nowrap;
  
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
}


/** --------------- CARDS --------------- */
.card {
  @apply flex flex-col rounded-2xl my-5 no-underline;
  transition: all 500ms;
  /* max-width: 450px */
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  /* overflow: hidden; */
  /* margin: 16px; */
  /* font-family: Arial, sans-serif; */
}

.card:hover {
  transition: all 300ms;
  transform: scale(100.5%);
}

.read-more {
  @apply text-neutral-500 dark:text-neutral-400;
}

.card:hover .read-more{
  @apply text-neutral-700 dark:text-neutral-300;
  text-decoration: underline
}

.card-image {
  @apply rounded-xl;
  box-shadow: 0px 0px 25px rgba(var(--foreground-rgb), 0.1);
  max-height: 16em;
  object-fit: cover;
  object-position: top;
  transition: all 500ms;
}

.card-content {
  /* margin-top: -30px; */
  /* max-height: 120px;
  text-overflow: ellipsis;
  text-wrap:wrap; */
}

.card-title {
  @apply no-underline;
  @apply text-xl font-semibold mt-1;
}

.truncate-text {
  /* For multiline truncation */
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-height: calc(line-height); Adjust based on line height and number of lines */
}

.small-card {
  @apply flex flex-row rounded-lg my-5 no-underline;
  max-height: 4rem;
  width:fit-content;
  object-fit: cover;
  transition: all 500ms;
  align-items: center
}

.small-card:hover {
  transition: all 300ms;
  box-shadow: 0px 0px 25px rgba(var(--foreground-rgb), 0.1);
}

.small-card .title {
  @apply text-lg font-normal tracking-wide;
  @apply text-neutral-500 dark:text-neutral-400;
}

.small-card:hover .title {
  @apply text-neutral-700 dark:text-neutral-300;
  text-decoration: underline;
}

.icon {
  @apply w-8 h-8 rounded-sm;
  object-fit: cover;
  object-position: center;
  transition: all 500ms;
  
}


/** --------------- BANNER --------------- */
.banner {
  @apply flex flex-col rounded-xl my-3;
  transition: all 300ms;
  position: relative;  /* Ensures child elements are positioned relative to this container */
  /* border-radius: 8px; */
  /* font-family: Arial, sans-serif; */
}

.banner-glass {
  @apply rounded-lg py-1 px-2;
  /* blur effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);
  background-color: rgba(var(--background-start-rgb), 0.5);
  box-shadow: 0px 0px 5px rgba(var(--background-end-rgb), 0.5) ;
  position: absolute;
  --glass-offset: 4px; /* Adjust the offset */
  bottom: var(--glass-offset);  /* Adjust vertical position */
  left: var(--glass-offset);    /* Adjust horizontal position */
  /* width: calc(100% - 2*var(--glass-offset));  */
}


.banner-text {
  text-shadow: 0px 0px 25px rgba(var(--foreground-rgb), 0.6);
  font-size: small;
  font-family: monospace;
  font-weight: lighter;
}
.banner img {
  @apply rounded-xl;
  max-height: 260px;
  object-fit: cover;
  box-shadow: 0px 0px 25px rgba(var(--foreground-rgb), 0.1);
}


/** --------------- MDX --------------- */
.mdx-title {
  @apply text-neutral-900 dark:text-neutral-100 tracking-tight w-full text-left;
}

.mdx-date {
  @apply text-neutral-600 dark:text-neutral-400 w-fit tabular-nums text-left;
}



/** --------------- WHEN THE SCREEN IS LARGE --------------- */
@media (min-width: 600px) {
  .intro {
    @apply flex flex-row;
  }

  .prose .text-content {
    @apply items-start text-left mr-5;
  }  
  
  .intro img {
    /* make image smaller when screen is smaller */
    @apply w-1/3 rounded-full;
  }

  .titles {
    @apply font-semibold items-start text-left;
    margin-bottom: -25px;
  }
  
  .card-image {
    @apply mb-0 rounded-xl;
    min-width: 35%;
    max-height: calc(250px * 3/5);
  }

  .card:hover .card-image{
    transform: scale(1.05);
    transition-duration: 200ms;
    rotate: 2deg;
  }

  .card-title {
    margin-top: 0rem;
  }

  .truncate-text {
    line-clamp: 8;
    -webkit-line-clamp: 8; /* Number of lines to show */
  }

  .card {
    @apply flex-row;
  }
  .card-content {
    @apply ml-5;
  }

  .mdx-title {
    @apply text-neutral-900 dark:text-neutral-100 tracking-tight text-left w-full;
  }
  .mdx-date {
    @apply text-right;
  }
}
